In [ ]:
import pandas as pd
import numpy as np

**SUMMARY DATA**

JUMLAH DATA

In [ ]:
place_tourism = pd.read_csv('./tourism_with_id.csv')
rating_tourism = pd.read_csv('./tourism_rating.csv')

print('Banyak Wisata : ', len(place_tourism.Place_Id.unique()))
print('Banyak Rating : ', len(rating_tourism.Place_Ratings))

Banyak Wisata :  437
Banyak Rating :  10000

ANALISIS EKSPLORASI DATA

Dataset Tempat Wisata

In [ ]:
place_tourism.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Place_Id      437 non-null    int64
 1   Place_Name    437 non-null    object
 2   Description   437 non-null    object
 3   Category      437 non-null    object
 4   City          437 non-null    object
 5   Price         437 non-null    int64
 6   Rating        437 non-null    float64
 7   Time_Minutes  205 non-null    float64
 8   Coordinate    437 non-null    object
 9   Lat           437 non-null    float64
 10  Long          437 non-null    float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   437 non-null    int64
dtypes: float64(5), int64(3), object(5)
memory usage: 44.5+ KB

Print Dataset Tempat Wisata

In [ ]:
place_tourism.head()

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,Unnamed: 11,Unnamed: 12
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153,NaN,1
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125,NaN,2
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,4.6,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538,NaN,3
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000,4.5,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-6.302446,106.895156,NaN,4
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,4.5,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-6.124190,106.839134,NaN,5

In [ ]:
place_tourism.describe()

,Place_Id,Price,Rating,Time_Minutes,Lat,Long,Unnamed: 11,Unnamed: 12
count,437.000000,437.000000,437.000000,205.000000,437.000000,437.000000,0.0,437.000000
mean,219.000000,24652.173913,4.442792,82.609756,-7.095438,109.160142,NaN,219.000000
std,126.295289,66446.374709,0.208587,52.872339,0.727241,1.962848,NaN,126.295289
min,1.000000,0.000000,3.400000,10.000000,-8.197894,103.931398,NaN,1.000000
25%,110.000000,0.000000,4.300000,45.000000,-7.749590,107.578369,NaN,110.000000
50%,219.000000,5000.000000,4.500000,60.000000,-7.020524,110.237468,NaN,219.000000
75%,328.000000,20000.000000,4.600000,120.000000,-6.829411,110.431869,NaN,328.000000
max,437.000000,900000.000000,5.000000,360.000000,1.078880,112.821662,NaN,437.000000

Dataset Rating

In [ ]:
rating_tourism.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   User_Id        10000 non-null  int64
 1   Place_Id       10000 non-null  int64
 2   Place_Ratings  10000 non-null  int64
dtypes: int64(3)
memory usage: 234.5 KB

Print Dataset Rating

In [ ]:
rating_tourism.head()

   User_Id  Place_Id  Place_Ratings
0        1       179              3
1        1       344              2
2        1         5              5
3        1       373              3
4        1       101              4

In [ ]:
rating_tourism.describe()

            User_Id      Place_Id  Place_Ratings
count  10000.000000  10000.000000   10000.000000
mean     151.292700    219.416400       3.066500
std       86.137374    126.228335       1.379952
min        1.000000      1.000000       1.000000
25%       77.000000    108.750000       2.000000
50%      151.000000    220.000000       3.000000
75%      226.000000    329.000000       4.000000
max      300.000000    437.000000       5.000000

**PREPROCESSING**

DATAFRAME BARU

In [ ]:
place_tourism = place_tourism.drop(['Description', 'City', 'Price', 'Rating', 'Time_Minutes', 'Coordinate', 'Lat', 'Long', 'Unnamed: 11', 'Unnamed: 12'], axis=1)

In [ ]:
place_tourism.head()

   Place_Id                         Place_Name       Category
0         1                   Monumen Nasional         Budaya
1         2                           Kota Tua         Budaya
2         3                      Dunia Fantasi  Taman Hiburan
3         4  Taman Mini Indonesia Indah (TMII)  Taman Hiburan
4         5           Atlantis Water Adventure  Taman Hiburan

MISSING DATA

In [ ]:
place_tourism.isnull().sum()

Place_Id      0
Place_Name    0
Category      0
dtype: int64

In [ ]:
rating_tourism.isnull().sum()

User_Id          0
Place_Id         0
Place_Ratings    0
dtype: int64

DATA DOUBLE

In [ ]:
print(f'Jumlah data double pada datases place : {place_tourism.duplicated().sum()}')
print(f'Jumlah data double pada datases rating : {rating_tourism.duplicated().sum()}')

Jumlah data double pada datases place : 0
Jumlah data double pada datases rating : 79

HAPUS DATA DOUBLE

In [ ]:
rating_tourism.drop_duplicates(inplace = True)

In [ ]:
print(rating_tourism)

      User_Id  Place_Id  Place_Ratings
0           1       179              3
1           1       344              2
2           1         5              5
3           1       373              3
4           1       101              4
...       ...       ...            ...
9995      300       425              2
9996      300        64              4
9997      300       311              3
9998      300       279              4
9999      300       163              2

[9921 rows x 3 columns]

VEKTORISASI

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer()

tf.fit(place_tourism['Category'])

tf.get_feature_names_out()

array(['alam', 'bahari', 'budaya', 'cagar', 'hiburan', 'ibadah',
       'perbelanjaan', 'pusat', 'taman', 'tempat'], dtype=object)

In [ ]:
matriks_tfidf = tf.fit_transform(place_tourism['Category'])
matriks_tfidf.toarray() #Masih berbentu matriks sparse

array([[0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.70710678,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.70710678,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.70710678,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.70710678]])

In [ ]:
print(f'Dimensi Matriks TFIDF : {matriks_tfidf.shape}')

Dimensi Matriks TFIDF : (437, 10)

In [ ]:
#Mengubah matriks sparse jadi matriks dense
matriks_tfidf.todense()

matrix([[0.        , 0.        , 1.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.70710678,
         0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 0.        , 0.70710678,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.70710678,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.70710678]])

In [ ]:
#Menggabungkan Data yang telah di Vektorisasi
data_matriks = pd.DataFrame(
    matriks_tfidf.todense(),
    columns = tf.get_feature_names_out(),
    index = place_tourism.Place_Name
)
data_matriks

,alam,bahari,budaya,cagar,hiburan,ibadah,perbelanjaan,pusat,taman,tempat
Place_Name,,,,,,,,,,
Monumen Nasional,0.0,0.0,1.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
Kota Tua,0.0,0.0,1.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
Dunia Fantasi,0.0,0.0,0.0,0.0,0.707107,0.000000,0.0,0.0,0.707107,0.000000
Taman Mini Indonesia Indah (TMII),0.0,0.0,0.0,0.0,0.707107,0.000000,0.0,0.0,0.707107,0.000000
Atlantis Water Adventure,0.0,0.0,0.0,0.0,0.707107,0.000000,0.0,0.0,0.707107,0.000000
...,...,...,...,...,...,...,...,...,...,...
Museum Mpu Tantular,0.0,0.0,1.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
Taman Bungkul,0.0,0.0,0.0,0.0,0.707107,0.000000,0.0,0.0,0.707107,0.000000
Taman Air Mancur Menari Kenjeran,0.0,0.0,0.0,0.0,0.707107,0.000000,0.0,0.0,0.707107,0.000000
Taman Flora Bratang Surabaya,0.0,0.0,0.0,0.0,0.707107,0.000000,0.0,0.0,0.707107,0.000000
Gereja Perawan Maria Tak Berdosa Surabaya,0.0,0.0,0.0,0.0,0.000000,0.707107,0.0,0.0,0.000000,0.707107

COSINE SIMILARITY

In [ ]:
#Buat nyari derajat persamaan tiap variabel nama wisata
from sklearn.metrics.pairwise import cosine_similarity

cos_sim = cosine_similarity(data_matriks)
cos_sim

array([[1., 1., 0., ..., 0., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 1., 0.],
       ...,
       [0., 0., 1., ..., 1., 1., 0.],
       [0., 0., 1., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [ ]:
data_cos_sim = pd.DataFrame(
    cos_sim,
    columns = place_tourism.Place_Name,
    index = place_tourism.Place_Name
)
data_cos_sim.sample(437,axis=0)

Place_Name,Monumen Nasional,Kota Tua,Dunia Fantasi,Taman Mini Indonesia Indah (TMII),Atlantis Water Adventure,Taman Impian Jaya Ancol,Kebun Binatang Ragunan,Ocean Ecopark,Pelabuhan Marina,Pulau Tidung,...,Monumen Bambu Runcing Surabaya,House of Sampoerna,Atlantis Land Surabaya,Taman Hiburan Rakyat,Taman Mundu,Museum Mpu Tantular,Taman Bungkul,Taman Air Mancur Menari Kenjeran,Taman Flora Bratang Surabaya,Gereja Perawan Maria Tak Berdosa Surabaya
Place_Name,,,,,,,,,,,,,,,,,,,,,
Pasar Seni,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wisata Kuliner Pecenongan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Taman Agrowisata Cilangkap,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
Keraton Surabaya,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Museum TNI AL Loka Jala Crana,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Bumi Perkemahan Batu Kuda,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kampung Wisata Rejowinangun,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Puncak Kebun Buah Mangunan,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
Taman Sungai Mudal,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Situs Warungboto,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0

REKOMENDASI

In [ ]:
def rekomendasi_place(place_name, similarity_data = data_cos_sim, items = place_tourism[['Place_Name', 'Category']], k = 10):
  index = similarity_data.loc[:, place_name].to_numpy().argpartition(range(-1, -k, -1))
  closest =similarity_data.columns[index[-1:-(k+2):-1]]
  closest = closest.drop(place_name, errors = 'ignore')
  return pd.DataFrame(closest).merge(items).head(k)

In [ ]:
place_name = 'Situ Patenggang'
place_tourism[place_tourism.Place_Name.eq(place_name)]

     Place_Id       Place_Name    Category
317       318  Situ Patenggang  Cagar Alam

In [ ]:
rekomendasi_place(place_name)

                                   Place_Name    Category
0                              Tebing Karaton  Cagar Alam
1                               Situ Cileunca  Cagar Alam
2                         Sunrise Point Cukul  Cagar Alam
3        Lereng Anteng Panoramic Coffee Place  Cagar Alam
4                          The Lodge Maribaya  Cagar Alam
5                       Observatorium Bosscha  Cagar Alam
6                       Taman Bunga Cihideung  Cagar Alam
7                      Perkebunan Teh Malabar  Cagar Alam
8                           Sungai Palayangan  Cagar Alam
9  Babakan Siliwangi City Forest Path Bandung  Cagar Alam

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras.models import Sequential
from keras.layers import Dense, Dropout

# Membaca data dari file atau sumber data lainnya
data = place_tourism  # Lakukan langkah pengambilan data sesuai dengan sumber data Anda

# Memisahkan fitur dan label
X = data['Place_Name']  # Fitur place_name
y = data['Category']  # Label kategori

# Melakukan encoding kategori menjadi bilangan bulat
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

# Melakukan one-hot encoding pada data kategori
num_classes = len(label_encoder.classes_)
y = tf.keras.utils.to_categorical(y, num_classes)

# Melakukan pengkodean fitur dengan LabelEncoder atau Encoder lainnya
feature_encoder = LabelEncoder()
X_encoded = feature_encoder.fit_transform(X)

# Normalisasi fitur menggunakan StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_encoded.reshape(-1, 1))

# Membagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Membangun model content-based filtering
model = Sequential()
model.add(Dense(128, activation='relu', input_dim=1))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(num_classes, activation='softmax'))

# Mengompilasi model
#model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
model.compile(
    loss=tf.keras.losses.BinaryCrossentropy(),
    optimizer=keras.optimizers.Adam(learning_rate=0.001),
    metrics=['accuracy']
)
# Melatih model dengan data latih
#history = model.fit(X_train, y_train, batch_size=32, epochs=100, validation_data=(X_test, y_test))

history = model.fit(
    x=X_train,
    y=y_train,
    batch_size=54,
    epochs=100,
    validation_data=(X_test, y_test),
    
)

Epoch 1/100
7/7 [==============================] - 3s 91ms/step - loss: 0.6805 - accuracy: 0.2579 - val_loss: 0.6621 - val_accuracy: 0.2614
Epoch 2/100
7/7 [==============================] - 0s 20ms/step - loss: 0.6465 - accuracy: 0.2464 - val_loss: 0.6287 - val_accuracy: 0.2614
Epoch 3/100
7/7 [==============================] - 0s 20ms/step - loss: 0.6117 - accuracy: 0.2722 - val_loss: 0.5901 - val_accuracy: 0.2614
Epoch 4/100
7/7 [==============================] - 0s 14ms/step - loss: 0.5722 - accuracy: 0.2751 - val_loss: 0.5457 - val_accuracy: 0.2614
Epoch 5/100
7/7 [==============================] - 0s 20ms/step - loss: 0.5264 - accuracy: 0.3181 - val_loss: 0.4994 - val_accuracy: 0.2614
Epoch 6/100
7/7 [==============================] - 0s 17ms/step - loss: 0.4843 - accuracy: 0.3467 - val_loss: 0.4571 - val_accuracy: 0.4659
Epoch 7/100
7/7 [==============================] - 0s 15ms/step - loss: 0.4506 - accuracy: 0.3009 - val_loss: 0.4264 - val_accuracy: 0.4545
Epoch 8/100
7/7 [==============================] - 0s 12ms/step - loss: 0.4235 - accuracy: 0.2951 - val_loss: 0.4085 - val_accuracy: 0.3409
Epoch 9/100
7/7 [==============================] - 0s 14ms/step - loss: 0.4073 - accuracy: 0.3639 - val_loss: 0.4001 - val_accuracy: 0.3409
Epoch 10/100
7/7 [==============================] - 0s 19ms/step - loss: 0.3991 - accuracy: 0.3324 - val_loss: 0.3966 - val_accuracy: 0.3409
Epoch 11/100
7/7 [==============================] - 0s 13ms/step - loss: 0.3936 - accuracy: 0.3152 - val_loss: 0.3945 - val_accuracy: 0.3409
Epoch 12/100
7/7 [==============================] - 0s 20ms/step - loss: 0.3937 - accuracy: 0.3324 - val_loss: 0.3933 - val_accuracy: 0.3409
Epoch 13/100
7/7 [==============================] - 0s 17ms/step - loss: 0.3916 - accuracy: 0.3152 - val_loss: 0.3918 - val_accuracy: 0.3750
Epoch 14/100
7/7 [==============================] - 0s 13ms/step - loss: 0.3933 - accuracy: 0.3095 - val_loss: 0.3899 - val_accuracy: 0.3864
Epoch 15/100
7/7 [==============================] - 0s 14ms/step - loss: 0.3880 - accuracy: 0.3467 - val_loss: 0.3891 - val_accuracy: 0.4091
Epoch 16/100
7/7 [==============================] - 0s 32ms/step - loss: 0.3829 - accuracy: 0.3467 - val_loss: 0.3885 - val_accuracy: 0.4432
Epoch 17/100
7/7 [==============================] - 0s 27ms/step - loss: 0.3835 - accuracy: 0.3324 - val_loss: 0.3873 - val_accuracy: 0.4545
Epoch 18/100
7/7 [==============================] - 0s 21ms/step - loss: 0.3862 - accuracy: 0.3610 - val_loss: 0.3863 - val_accuracy: 0.4659
Epoch 19/100
7/7 [==============================] - 0s 15ms/step - loss: 0.3801 - accuracy: 0.3983 - val_loss: 0.3848 - val_accuracy: 0.4659
Epoch 20/100
7/7 [==============================] - 0s 17ms/step - loss: 0.3794 - accuracy: 0.3582 - val_loss: 0.3822 - val_accuracy: 0.4545
Epoch 21/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3793 - accuracy: 0.3696 - val_loss: 0.3808 - val_accuracy: 0.4545
Epoch 22/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3773 - accuracy: 0.4040 - val_loss: 0.3780 - val_accuracy: 0.4545
Epoch 23/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3747 - accuracy: 0.4040 - val_loss: 0.3767 - val_accuracy: 0.4659
Epoch 24/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3771 - accuracy: 0.3926 - val_loss: 0.3752 - val_accuracy: 0.4659
Epoch 25/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3687 - accuracy: 0.4269 - val_loss: 0.3741 - val_accuracy: 0.4659
Epoch 26/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3693 - accuracy: 0.3811 - val_loss: 0.3719 - val_accuracy: 0.4545
Epoch 27/100
7/7 [==============================] - 0s 12ms/step - loss: 0.3688 - accuracy: 0.4069 - val_loss: 0.3710 - val_accuracy: 0.4659
Epoch 28/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3681 - accuracy: 0.4040 - val_loss: 0.3699 - val_accuracy: 0.4659
Epoch 29/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3676 - accuracy: 0.3954 - val_loss: 0.3684 - val_accuracy: 0.4659
Epoch 30/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3692 - accuracy: 0.3840 - val_loss: 0.3664 - val_accuracy: 0.4659
Epoch 31/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3621 - accuracy: 0.4097 - val_loss: 0.3640 - val_accuracy: 0.4773
Epoch 32/100
7/7 [==============================] - 0s 7ms/step - loss: 0.3593 - accuracy: 0.4355 - val_loss: 0.3621 - val_accuracy: 0.5227
Epoch 33/100
7/7 [==============================] - 0s 7ms/step - loss: 0.3576 - accuracy: 0.4384 - val_loss: 0.3617 - val_accuracy: 0.5455
Epoch 34/100
7/7 [==============================] - 0s 9ms/step - loss: 0.3594 - accuracy: 0.4384 - val_loss: 0.3596 - val_accuracy: 0.5455
Epoch 35/100
7/7 [==============================] - 0s 7ms/step - loss: 0.3568 - accuracy: 0.4613 - val_loss: 0.3582 - val_accuracy: 0.5227
Epoch 36/100
7/7 [==============================] - 0s 7ms/step - loss: 0.3542 - accuracy: 0.4642 - val_loss: 0.3570 - val_accuracy: 0.5227
Epoch 37/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3563 - accuracy: 0.4613 - val_loss: 0.3564 - val_accuracy: 0.5227
Epoch 38/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3602 - accuracy: 0.4756 - val_loss: 0.3542 - val_accuracy: 0.5227
Epoch 39/100
7/7 [==============================] - 0s 11ms/step - loss: 0.3551 - accuracy: 0.4699 - val_loss: 0.3549 - val_accuracy: 0.5227
Epoch 40/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3589 - accuracy: 0.4642 - val_loss: 0.3549 - val_accuracy: 0.5227
Epoch 41/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3558 - accuracy: 0.4670 - val_loss: 0.3533 - val_accuracy: 0.5227
Epoch 42/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3522 - accuracy: 0.4928 - val_loss: 0.3520 - val_accuracy: 0.5227
Epoch 43/100
7/7 [==============================] - 0s 7ms/step - loss: 0.3583 - accuracy: 0.4842 - val_loss: 0.3513 - val_accuracy: 0.5341
Epoch 44/100
7/7 [==============================] - 0s 7ms/step - loss: 0.3444 - accuracy: 0.5043 - val_loss: 0.3502 - val_accuracy: 0.5455
Epoch 45/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3522 - accuracy: 0.5014 - val_loss: 0.3500 - val_accuracy: 0.5341
Epoch 46/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3499 - accuracy: 0.4728 - val_loss: 0.3485 - val_accuracy: 0.5455
Epoch 47/100
7/7 [==============================] - 0s 7ms/step - loss: 0.3500 - accuracy: 0.4814 - val_loss: 0.3475 - val_accuracy: 0.5455
Epoch 48/100
7/7 [==============================] - 0s 7ms/step - loss: 0.3452 - accuracy: 0.4842 - val_loss: 0.3473 - val_accuracy: 0.5455
Epoch 49/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3445 - accuracy: 0.4986 - val_loss: 0.3465 - val_accuracy: 0.5455
Epoch 50/100
7/7 [==============================] - 0s 9ms/step - loss: 0.3439 - accuracy: 0.5072 - val_loss: 0.3469 - val_accuracy: 0.5341
Epoch 51/100
7/7 [==============================] - 0s 9ms/step - loss: 0.3483 - accuracy: 0.4928 - val_loss: 0.3472 - val_accuracy: 0.5455
Epoch 52/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3466 - accuracy: 0.4842 - val_loss: 0.3462 - val_accuracy: 0.5455
Epoch 53/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3437 - accuracy: 0.4842 - val_loss: 0.3452 - val_accuracy: 0.5455
Epoch 54/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3417 - accuracy: 0.5330 - val_loss: 0.3457 - val_accuracy: 0.5455
Epoch 55/100
7/7 [==============================] - 0s 11ms/step - loss: 0.3478 - accuracy: 0.5129 - val_loss: 0.3446 - val_accuracy: 0.5455
Epoch 56/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3449 - accuracy: 0.5072 - val_loss: 0.3432 - val_accuracy: 0.5455
Epoch 57/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3384 - accuracy: 0.5272 - val_loss: 0.3421 - val_accuracy: 0.5455
Epoch 58/100
7/7 [==============================] - 0s 11ms/step - loss: 0.3498 - accuracy: 0.4842 - val_loss: 0.3418 - val_accuracy: 0.5455
Epoch 59/100
7/7 [==============================] - 0s 7ms/step - loss: 0.3432 - accuracy: 0.5186 - val_loss: 0.3421 - val_accuracy: 0.5455
Epoch 60/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3411 - accuracy: 0.5100 - val_loss: 0.3417 - val_accuracy: 0.5455
Epoch 61/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3411 - accuracy: 0.4928 - val_loss: 0.3407 - val_accuracy: 0.5455
Epoch 62/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3380 - accuracy: 0.5014 - val_loss: 0.3404 - val_accuracy: 0.5455
Epoch 63/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3419 - accuracy: 0.5244 - val_loss: 0.3410 - val_accuracy: 0.5455
Epoch 64/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3371 - accuracy: 0.5100 - val_loss: 0.3421 - val_accuracy: 0.5455
Epoch 65/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3350 - accuracy: 0.5072 - val_loss: 0.3426 - val_accuracy: 0.5455
Epoch 66/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3355 - accuracy: 0.5301 - val_loss: 0.3433 - val_accuracy: 0.5455
Epoch 67/100
7/7 [==============================] - 0s 12ms/step - loss: 0.3410 - accuracy: 0.4814 - val_loss: 0.3421 - val_accuracy: 0.5455
Epoch 68/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3409 - accuracy: 0.4928 - val_loss: 0.3423 - val_accuracy: 0.5455
Epoch 69/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3368 - accuracy: 0.5129 - val_loss: 0.3418 - val_accuracy: 0.5455
Epoch 70/100
7/7 [==============================] - 0s 11ms/step - loss: 0.3401 - accuracy: 0.4585 - val_loss: 0.3417 - val_accuracy: 0.5341
Epoch 71/100
7/7 [==============================] - 0s 11ms/step - loss: 0.3367 - accuracy: 0.5301 - val_loss: 0.3409 - val_accuracy: 0.5455
Epoch 72/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3325 - accuracy: 0.5043 - val_loss: 0.3402 - val_accuracy: 0.5455
Epoch 73/100
7/7 [==============================] - 0s 9ms/step - loss: 0.3394 - accuracy: 0.5014 - val_loss: 0.3397 - val_accuracy: 0.5455
Epoch 74/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3382 - accuracy: 0.5014 - val_loss: 0.3397 - val_accuracy: 0.5568
Epoch 75/100
7/7 [==============================] - 0s 11ms/step - loss: 0.3359 - accuracy: 0.5100 - val_loss: 0.3401 - val_accuracy: 0.5568
Epoch 76/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3366 - accuracy: 0.4728 - val_loss: 0.3405 - val_accuracy: 0.5455
Epoch 77/100
7/7 [==============================] - 0s 7ms/step - loss: 0.3345 - accuracy: 0.5043 - val_loss: 0.3397 - val_accuracy: 0.5568
Epoch 78/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3352 - accuracy: 0.5129 - val_loss: 0.3388 - val_accuracy: 0.5455
Epoch 79/100
7/7 [==============================] - 0s 9ms/step - loss: 0.3282 - accuracy: 0.5301 - val_loss: 0.3387 - val_accuracy: 0.5455
Epoch 80/100
7/7 [==============================] - 0s 7ms/step - loss: 0.3321 - accuracy: 0.4957 - val_loss: 0.3393 - val_accuracy: 0.5455
Epoch 81/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3335 - accuracy: 0.4986 - val_loss: 0.3390 - val_accuracy: 0.5455
Epoch 82/100
7/7 [==============================] - 0s 9ms/step - loss: 0.3331 - accuracy: 0.5129 - val_loss: 0.3392 - val_accuracy: 0.5455
Epoch 83/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3336 - accuracy: 0.5272 - val_loss: 0.3385 - val_accuracy: 0.5341
Epoch 84/100
7/7 [==============================] - 0s 11ms/step - loss: 0.3291 - accuracy: 0.5158 - val_loss: 0.3378 - val_accuracy: 0.5455
Epoch 85/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3270 - accuracy: 0.5100 - val_loss: 0.3378 - val_accuracy: 0.5568
Epoch 86/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3333 - accuracy: 0.4814 - val_loss: 0.3380 - val_accuracy: 0.5568
Epoch 87/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3327 - accuracy: 0.4900 - val_loss: 0.3390 - val_accuracy: 0.5568
Epoch 88/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3306 - accuracy: 0.5272 - val_loss: 0.3385 - val_accuracy: 0.5455
Epoch 89/100
7/7 [==============================] - 0s 9ms/step - loss: 0.3347 - accuracy: 0.5043 - val_loss: 0.3379 - val_accuracy: 0.5455
Epoch 90/100
7/7 [==============================] - 0s 8ms/step - loss: 0.3299 - accuracy: 0.5043 - val_loss: 0.3382 - val_accuracy: 0.5341
Epoch 91/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3305 - accuracy: 0.5072 - val_loss: 0.3382 - val_accuracy: 0.5341
Epoch 92/100
7/7 [==============================] - 0s 13ms/step - loss: 0.3286 - accuracy: 0.5100 - val_loss: 0.3372 - val_accuracy: 0.5455
Epoch 93/100
7/7 [==============================] - 0s 11ms/step - loss: 0.3303 - accuracy: 0.4871 - val_loss: 0.3368 - val_accuracy: 0.5568
Epoch 94/100
7/7 [==============================] - 0s 12ms/step - loss: 0.3226 - accuracy: 0.5330 - val_loss: 0.3356 - val_accuracy: 0.5568
Epoch 95/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3282 - accuracy: 0.4842 - val_loss: 0.3357 - val_accuracy: 0.5568
Epoch 96/100
7/7 [==============================] - 0s 11ms/step - loss: 0.3314 - accuracy: 0.5129 - val_loss: 0.3364 - val_accuracy: 0.5568
Epoch 97/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3306 - accuracy: 0.4957 - val_loss: 0.3358 - val_accuracy: 0.5455
Epoch 98/100
7/7 [==============================] - 0s 13ms/step - loss: 0.3294 - accuracy: 0.4986 - val_loss: 0.3363 - val_accuracy: 0.5455
Epoch 99/100
7/7 [==============================] - 0s 11ms/step - loss: 0.3252 - accuracy: 0.5244 - val_loss: 0.3357 - val_accuracy: 0.5455
Epoch 100/100
7/7 [==============================] - 0s 10ms/step - loss: 0.3299 - accuracy: 0.4842 - val_loss: 0.3357 - val_accuracy: 0.5568

In [ ]:
# Evaluasi model dengan data uji
loss, accuracy = model.evaluate(X_test, y_test)

print(f"Loss: {loss}")
print(f"Accuracy: {accuracy}")

3/3 [==============================] - 0s 4ms/step - loss: 0.3357 - accuracy: 0.5568
Loss: 0.33570075035095215
Accuracy: 0.5568181872367859

PAKE CLASSIFIER TAPI GA KELUAR EPOCH

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

# Define parameter grid
param_vals = {'max_depth': [200, 500, 800, 1100],
              'n_estimators': [100, 200, 300, 400]}

# Perform Randomized Search
random_rf = RandomizedSearchCV(estimator=model, param_distributions=param_vals,
                              n_iter=10, scoring='accuracy', cv=5,
                              refit=True, n_jobs=-1)

# Training
random_rf.fit(X_train, y_train)

# Prediction
preds = random_rf.best_estimator_.predict(X_test)

# Print best parameters and accuracy
print('Best Parameters:', random_rf.best_params_)
print('Accuracy:', random_rf.best_score_)

Best Parameters: {'n_estimators': 300, 'max_depth': 1100}
Accuracy: 0.5784265010351968

In [ ]:
from sklearn.metrics import accuracy_score
model = RandomForestClassifier(n_estimators=300, max_depth=1100)

history = model.fit(
    X_train,
    y_train
)
preds = model.predict(X_test)
accuracy = accuracy_score(y_test,  preds)
print("Accuracy:", accuracy)

Accuracy: 0.6704545454545454